h1
{
    font-size: 60px;
    text-align: center;
}

img
{
    height: auto;
    width: 400px;
}

.uvod,
h2
{
    font-size: 40px;
}

.tekst
{
    font-size: 36px;
}

.sastojci,
.koraci
{
    font-size: 36px;
}